@import "tailwindcss";

@theme {
  --font-satoshi: var(--font-satoshi-family), sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --foreground: #ffffff;
  --background: #000000;
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
} 
